<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- <link rel="stylesheet" type="text/css" href="styles/main.css" /> -->
    <title>Auth</title>
  </head>
  <body>
    <main class="h-screen w-full flex items-center justify-center">
      <div class="mx-auto my-auto max-h-fit px-6 py-10 max-w-[90%] rounded-xl ring-2 ring-blue-700 shadow-lg shadow-blue-700 hover:-translate-y-1 hover:shadow-xl transition duration-300 ease-out w-full md:max-w-2xl flex flex-col space-y-2 bg-white dark:bg-gray-900">
        <h1 class="text-xl md:text-3xl font-bold text-center text-gray-900 dark:text-white pb-6">Sign in to {{ app_name }}</h1>
        {% include 'snippets/link' %}
      </div>
    </main>
  </body>
  <style>
    {% include 'styles/main.css' %}
  </style>
</html>
