<div class="relative">
    {% include 'snippets/input' 
        id="email" 
        type="email" 
        name="Email"
        placeholder="john.doe@domain.com"
    %}
    {% include 'snippets/input' 
        id="redirect_url" 
        type="hidden" 
        name="redirect_url"
        value=redirect_url
    %}
    {% include 'snippets/input' 
        id="app_name" 
        type="hidden" 
        name="app_name"
        value=app_name
    %}
    <div onclick="submit()">
        {% include 'snippets/button'
            id="sign-in-with-link-button"
            type="submit"
            text="sign in with magic link"
        %}
    </div>
    <p id="success-message" class="absolute bottom-1/2 left-1/2 -translate-x-1/2 w-full max-w-[90%] translate-y-1/2 pointer-events-none opacity-0 text-gray-900 dark:text-white text-center whitespace-pre-line text-base md:text-lg transition duration-500 ease-in delay-500"/>
</div>

<script>
    function submit(e) {
        const app_name = "{{ app_name }}";
        const emailInput = document.getElementById("email")
        const button = document.getElementById("sign-in-with-link-button")
        const message = document.getElementById("success-message")
        let data = {
            redirect_url: document.getElementById("redirect_url").value,
            app_name: document.getElementById("app_name").value,
            email: emailInput.value
        }

        if(!data.email || !data.redirect_url) return
        
        button.disabled = true
        emailInput.disabled = true
        button.getElementsByTagName("span")[0].textContent = "sending..."
        button.classList.add("animate-pulse")

        fetch('/login/link', {
            method: "POST",
            headers: {'Content-Type': 'application/json'}, 
            mode: 'cors',
            body: JSON.stringify(data)
        }).then(() => {
            button.classList.remove("animate-pulse")
            emailInput.classList.add('opacity-0')
            button.classList.add('opacity-0')
            emailInput.parentElement.getElementsByTagName("label")[0].classList.add('opacity-0')
            message.classList.remove('opacity-0')
            message.innerHTML = `
            <span class="font-bold pb-1">Your magic link is on it's way!</span>
            Check your inbox and follow the link in the email we just sent to ${data.email} to log into ${app_name} :)
            `
        })
        
    }
</script>